.student-detail-container {
    display: flexbox;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    margin-top: 40px;
}

.student-detail-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.student-detail-card h2 {
    margin-bottom: 20px;
}

.student-detail-card p {
    margin-bottom: 10px;
}

.student-detail-card .btn-primary {
    margin-top: 10px;
}